---
version: "3"

networks:
  {{project_name}}:
    external: true
  proxy:
    external: true

services:

  app_name: # Service name
    container_name: {{project_name}}_app_name
    image: app_name # Image name
    build:
      context: ./app_name
      dockerfile: Dockerfile
    restart: unless-stopped
    # expose:
    #   - "801" # Uncomment if other containers should reach through this port internally
    networks:
      - proxy
      # - {{project_name}} # Uncomment if a network out of scope of Traefik needed
    command: nginx -g 'daemon off;'